.tabbar
    .tabbar__actions
        button.tabbar__action#search-tabbar-open
            svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(
                    d="M30.6665 31L25.5997 25.9332M25.5997 25.9332C26.4664 25.0665 27.1539 24.0376 27.623 22.9052C28.092 21.7728 28.3334 20.5592 28.3334 19.3335C28.3334 18.1078 28.092 16.8941 27.623 15.7617C27.1539 14.6293 26.4664 13.6004 25.5997 12.7337C24.733 11.867 23.7041 11.1795 22.5717 10.7105C21.4393 10.2414 20.2257 10 19 10C17.7743 10 16.5606 10.2414 15.4282 10.7105C14.2958 11.1795 13.2669 11.867 12.4002 12.7337C10.6498 14.4841 9.6665 16.8581 9.6665 19.3335C9.6665 21.8089 10.6498 24.1829 12.4002 25.9332C14.1506 27.6836 16.5246 28.6669 19 28.6669C21.4754 28.6669 23.8494 27.6836 25.5997 25.9332Z"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                )
        button.tabbar__action
            svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(
                    d="M9.94197 22.9925L19.3329 31.4025C19.6502 31.6867 19.8088 31.8288 20 31.8288C20.1912 31.8288 20.3498 31.6867 20.6671 31.4025L30.058 22.9925C32.8244 20.5151 33.1565 16.3015 30.8124 13.4213L30.5675 13.1203C27.8495 9.78056 22.5906 10.3586 20.663 14.209C20.3896 14.7551 19.6104 14.7551 19.337 14.209C17.4094 10.3586 12.1505 9.78055 9.43249 13.1203L9.18756 13.4212C6.84352 16.3015 7.17564 20.5151 9.94197 22.9925Z"
                    stroke="black"
                )
        button.tabbar__action
            svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.3335 8.66602H11.892C12.5877 8.66602 12.9356 8.66602 13.1974 8.85477C13.4593 9.04353 13.5693 9.37354 13.7893 10.0336L14.0885 10.9309C14.5285 12.251 14.7485 12.911 15.2723 13.2885C15.796 13.666 16.4918 13.666 17.8832 13.666H18.3335" stroke="black" stroke-linecap="round")
                path(d="M29.3335 27.666H14.7583C13.7536 27.666 13.2513 27.666 12.9604 27.3843C12.8866 27.3127 12.8242 27.2302 12.7754 27.1396C12.5837 26.783 12.7206 26.2997 12.9945 25.333C13.324 24.1703 13.4887 23.5889 13.8912 23.2099C13.9961 23.1111 14.1114 23.024 14.235 22.95C14.7093 22.666 15.3136 22.666 16.5221 22.666H23.6668" stroke="black" stroke-linecap="round" stroke-linejoin="round")
                path(d="M26.6985 22.666H16.4964C15.5156 22.666 14.6795 21.9547 14.5223 20.9866L13.6161 15.4065C13.468 14.494 14.1724 13.666 15.0967 13.666H30.734C31.4728 13.666 31.9566 14.4397 31.6329 15.104L28.4965 21.542C28.1615 22.2297 27.4635 22.666 26.6985 22.666Z" stroke="black" stroke-linecap="round")
                circle(cx="26" cy="31" r="1" fill="black")
                circle(cx="16" cy="31" r="1" fill="black")
        button.tabbar__action
            svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
                circle(cx="20.667" cy="14.334" r="5" stroke="black" stroke-linecap="round")
                path(d="M30.3263 31.1517C29.7565 29.7695 28.5011 28.5482 26.7546 27.6772C25.0082 26.8061 22.8683 26.334 20.667 26.334C18.4657 26.334 16.3258 26.8061 14.5794 27.6772C12.8329 28.5482 11.5775 29.7695 11.0077 31.1517" stroke="black" stroke-linecap="round")
